<head>
    <link rel="stylesheet" href="/stylesheets/partialsCSS/footer.css" type="text/css">
</head>


<div id="footer_content">

    <div class="footer-list">
        <img class="iconfooter" src="/images/icons/maps.png" alt="endereço">
        <p class="textfooter">
            Rua 151, 46 - Conjunto Ceará II
            <br>
            Fortaleza - CE, 60530-250
        </p>
    </div>

    <div class="footer-list">
        <img class="iconfooter" src="/images/icons/contatos.png" alt="horários">
        <p class="textfooter">
            SEG - SÁB : 10:00 - 22:00
            <br>
            DOM : 10:00 - 13:00
        </p>
    </div>

    <div class="footer-list">
        <img class="iconfooter" src="/images/icons/celular.png" alt="contatos">
        <p class="textfooter">
            JonasRocha@exemplo.com
            <br>
            (85) 91111 - 1111
        </p>
    </div>

    <div>
      <div class="redes">
        <a class="quadrede in" href="https://www.instagram.com/barbearia_jonasrocha/" >
          <img class="insta" src="/images/icons/instagram.png" alt="instagram">
        </a>
        <a class="quadrede" href="https://api.whatsapp.com/send?l=pt-BR&phone=5585996896238&text=Oi%20eu%20vim%20do%20Instagram%20%C3%A9%20gostaria%20de%20agendar%20um%20hor%C3%A1rio!">
          <img class="whats" src="/images/icons/whatsapp.png" alt="whatsapp">
        </a>
      </div>
    </div>

    <div class="publi">
        <p class="textfooter">icons por <a class="textfooter" href="https://icons8.com/">icons8</a> </p>
    </div>
  
</div>

<div class="textfooter" id="footer_copyright">
    &#169
    2023 all rights reserved
</div>