<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    /*body {
      background-color: #F5F2EB;
    }*/
    @font-face {
            font-family: 'GantariSB';
            src: url('/fonts/Gantari-SemiBold.ttf') format('truetype'), url('/fonts/Gantari-SemiBold.otf') format('opentype');
        }

    * {
        margin: 0;
        padding: 0;
      }

      .listHeader {
        font-size: 17px;
        font-family: GantariSB;
        color: #F5F2EB;
        text-decoration: none;
        transition: 0.3s;
      }
      @media (max-width: 410px) {
        .listHeader {
          font-size: 12px;
        }
        .aaa {
          text-align: center;
        }

      }
      
.linksline {
  padding-bottom: 10px;
  background-image: linear-gradient(90deg, #c51006 50%, transparent 50%);
  display: inline;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 100% 27px;
  transition: background-position;
  transition: 0.3s;
}

.linksline:hover{
  color: #C51006;
  background-position: 0% 27px;
}

.button{
  padding: 10px;
  font-family: GantariSB;
  color: #F5F2EB;
  background-color: #C51006;
  border-radius: 25px;
}
.button:hover{
  opacity: 1;
  background-color: #EE1408;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1D1C1CB9;
  height: 16vh;
}

.logo {
  width: 6vw;
}
@media (max-width: 660px) {
  .logo{
    width: 10vw;
  }
}
@media (max-width: 350px) {
  .logo{
    width: 14vw;
  }
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 16vh;
    right: 0;
    width: 50vw;
    height: 80vh;
    background: #1D1C1CB9;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.active{
  color: #C51006;
  background-position: 0% 27px;
}

  </style>

</head>
<body>
  <header>
    <nav>
      <a href="/">
        <img class="logo" src="/images/logo.png" alt="Barbearia Jonas Rocha">
      </a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="linksline listHeader" href="/">INÍCIO</a></li>
        <li><a class="linksline listHeader" href="/sobre">SOBRE</a></li>
        <li><a class="linksline listHeader" href="/servicos">SERVIÇOS</a></li>
        <li><a class="linksline listHeader" href="/contatos">CONTATO</a></li>
        <li class="aaa"><a class="linksline listHeader" href="/agende-seu-horario">AGENDE SEU HORÁRIO</a></li>
        <li><a class="button listHeader" href="/perfil/entrar">ENTRAR</a></li>
      </ul>
    </nav>
  </header>
  <script>
    class MobileNavbar {
      constructor(mobileMenu, navList, navLinks) {
        this.mobileMenu = document.querySelector(mobileMenu);
        this.navList = document.querySelector(navList);
        this.navLinks = document.querySelectorAll(navLinks);
        this.activeClass = "active";

        this.handleClick = this.handleClick.bind(this);
      }

      animateLinks() {
        this.navLinks.forEach((link, index) => {
          link.style.animation
            ? (link.style.animation = "")
            : (link.style.animation = `navLinkFade 0.5s ease forwards ${
                index / 7 + 0.3
              }s`);
        });
      }

      handleClick() {
        this.navList.classList.toggle(this.activeClass);
        this.mobileMenu.classList.toggle(this.activeClass);
        this.animateLinks();
      }

      addClickEvent() {
        this.mobileMenu.addEventListener("click", this.handleClick);
      }

      init() {
        if (this.mobileMenu) {
          this.addClickEvent();
        }
        return this;
      }
    }

    const mobileNavbar = new MobileNavbar(
      ".mobile-menu",
      ".nav-list",
      ".nav-list li",
    );
    mobileNavbar.init();

    const activepage = window.location.pathname;
    const navlinks = document.querySelectorAll('.linksline');
    navlinks.forEach(link => {
      const activepagePath = new URL (link.href).pathname;
      if(activepage === activepagePath) {
        link.classList.add('active');
      }
    })

  </script>