<style>
    h1{
        color: #1D1C1C;
        font-family: GantariSB;
        margin: 40px;
    }
    footer{
      position: fixed;
      left: 0;
      bottom: 0;
    }

</style>

  <%- include('./partials/header') %>

  <h1> Agende seu Horário </h1>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>
