<head>
  <link rel="stylesheet" href="/stylesheets/agende-seu-horario.css" type="text/css">
</head>

  <%- include('./partials/header') %>

  <h1> Agende seu Horário </h1>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>
