<style>
    h1{
        color: #1D1C1C;
        font-family: GantariSB;
        margin: 40px;
    }
</style>

  <%- include('./partials/header') %>

  <h1> Cadastre-se </h1>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>
