<head>
  <link rel="stylesheet" href="/stylesheets/criar-conta.css" type="text/css">
</head>

<div class="mother">

<%- include('./partials/header') %>

<main class="maindoLogin">

  <h1 class="title" >CRIAR CONTA</h1>

  <form action="/perfil/criar-conta/create" method="post">

    <div class="enfeite">
          <div class="linha"></div>
          <img class="bigodin" src="/images/bigodin.png" alt="">
          <div class="linha"></div>
        </div>

        <div class="input-text">
          <input type="text" name="name" id="name" placeholder="Nome Completo" autocomplete="off" required>
          <label for="name" class="name">Nome completo</label>
        </div>

    <div class="input-text">
      <input type="tel" name="phone" id="phone" placeholder="(xx) xxxxx-xxxx" pattern="^[0-9]{2} [0-9]{5}-[0-9]{4}$" autocomplete="off" required>
      <label for="phone" class="phone">Telefone</label>
    </div>

    <div class="input-text">
      <input type="email" name="email" id="email" placeholder="Digite seu email" autocomplete="off" required>
      <label for="email" class="email">Email</label>
    </div>
    
    <div class="input-text">
      <input type="password" name="password" id="password" placeholder="Digite sua senha" autocomplete="off" required>
      <label for="password" class="senha">Senha</label>
    </div>

    <div class="input-text">
      <input type="password" name="conPassword" id="ConPassword" placeholder="Confirme sua senha" autocomplete="off" required>
      <label for="ConPassword" class="Consenha">Confirma senha</label>
    </div>

    <button class="buttonL" type="submit">CRIAR CONTA</button>

    <div class="linha two"></div>

    <p class="paragrafo">Já tem uma conta? <a class="linksLogin" href="/perfil/entrar">ENTRAR</a></p>
    
  </form>

</main>

<%- include('./partials/footer') %>

</div>

</body>
</html>

