<head>
  <link rel="stylesheet" href="/stylesheets/entrar.css" type="text/css">
</head>

<div class="mother">

<%- include('./partials/header') %>

<main class="maindoLogin">

  <h1 class="title" >ENTRAR</h1>

  <form action="">

    <div class="enfeite">
          <div class="linha"></div>
          <img class="bigodin" src="/images/bigodin.png" alt="">
          <div class="linha"></div>
        </div>

    <div class="input-text">
      <input type="email" name="email" id="email" placeholder="Digite seu email" autocomplete="off" required>
      <label for="email">Email</label>
    </div>
    
    <div class="input-text">
      <input type="password" name="password" id="password" placeholder="Digite sua senha" autocomplete="off" required>
      <label for="password">Senha</label>
    </div>

    <button class="buttonL" type="submit">ENTRAR</button>

    <div class="linkAL">
      <a class="linksLogin" href="#" >Esqueceu a senha?</a>
    </div>

    <div class="linha two"></div>

    <p class="paragrafo">Novo na Barbearia? <a class="linksLogin" href="/perfil/criar-conta">CASDASTRE-SE</a></p>
    
  </form>

</main>

<%- include('./partials/footer') %>

</div>

</body>
</html>

