    <style>
      .imageHM {
        width: 100%;
        height: auto;
        position: absolute;
      }

    </style>

    <picture>
      <source media="(max-width: 900px)" srcset="./images/FundoHomeP.png">
      <img class="imageHM" src="./images/FundoHome.png">
    </picture>
      

    <%- include('./partials/header') %>

    

    <footer>
      <%- include('./partials/footer') %>
    </footer>

  </body>
</html>
