<head>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<div class="mother">

    <%- include('./partials/header') %>

    <picture>
      <source media="(max-width: 900px)" srcset="./images/FundoHomeP.png">
      <img class="imageHM" src="./images/FundoHome.png">
    </picture>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <%- include('./partials/footer') %>

</div>

  </body>
</html>
