<head>
  <link rel="stylesheet" href="/stylesheets/perfil.css" type="text/css">
</head>

<div class="mother">

  <%- include('./partials/header') %>

  <h1> Perfil </h1>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <%- include('./partials/footer') %>

</div>

</body>
</html>
