<head>
  <link rel="stylesheet" href="/stylesheets/servicos.css" type="text/css">
</head>

<div class="mother">

  <%- include('./partials/header') %>

  <h1> Serviços </h1>

  <a href="/logout" class="button listHeader"> deslogar </a>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <%- include('./partials/footer') %>

</div>

</body>
</html>
