<head>
  <link rel="stylesheet" href="/stylesheets/sobre.css" type="text/css">
</head>

  <%- include('./partials/header') %>

  <h1> Sobre </h1>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>
