@font-face{
    font-family: 'GantariTH';
    src: url('/fonts/Gantari-Thin.ttf') format('truetype'), url('/fonts/Gantari-Thin.otf') format('opentype');
}

.redes{
    display: flex;
    justify-content: center;
}

.quadrede{
    width: 38px;
    height: 38px;
    background-color: #373737;
    border-bottom: #8D110ABF 2.5px solid;
    text-align: center;
    position: relative;
}

.quadrede::before{
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
    background-color: #8D110ABF;
    bottom: 0;
    left: 0;
    transition: height .3s;
}

.quadrede:hover::before{
    height: 100%;
}
  
.in{
    margin-right: 30px;
}

.insta,
.whats {
    width: 25px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.iconfooter {
    width: 33px;
    height: 33px;
}

.publi {
    margin-top: 30px;
}

a .textfooter {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    z-index: -1;
}

.textfooter{
    color: #F5F2EB;
    font-family: GantariTH;
    text-decoration: none;
}

#footer_content {
    background-color: #181717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    font-size: 0.7rem;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 0.75rem;
    list-style: none;
    margin: 0 30px;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #111010;
    font-size: 0.9rem;
    padding: 1.5rem;
}

@media screen and (max-width: 1110px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 732px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    .footer-list{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    #footer_content{
        padding: 3rem 0rem;
    }
    .footer-list {
        margin: 0 10px;
    }
    .publi{
        margin-left: 10px;
    }
}